{% extends "base.html" %}

{% block title %}Pricing Data{% endblock %}

{% block content %}
    <h1>Energy Buyback Pricing Info for Ontario</h1>
    <p>The HOEP is a database that shows exactly what price energy is sold back to the grid each hour. Here is some information on what that pricing looked like in 2023</p>
    <p>More on HOEP <a href="https://www.ieso.ca/power-data/price-overview/hourly-ontario-energy-price" target="_blank">HERE</a>.</p>
    <body>
        <h1>HOEP Data Visualization</h1>
        <div>{{ hourly_price_plot|safe }}</div>
    </body>
    <body>
        <h1>HOEP Yearly Hour of the Day Price Averages</h1>
        <div>{{ hourly_avg_price_plot|safe }}</div>
    </body>
    
{% endblock %}
