{% extends "base.html" %}

{% block title %}Location Information{% endblock %}

{% block content %}
    <h1>Location Information</h1>
    <p><strong>Location:</strong> {{ location }}</p>
    <p><strong>Inputted Postal Code:</strong> {{ postal_code }}</p>
    <p><strong>Latitude:</strong> {{ latitude }}</p>
    <p><strong>Longitude:</strong> {{ longitude }}</p>
    <p><strong>Elevation:</strong> {{ elivation | round(2)}} meters</p>
    <p><strong>Distance from Postal Code to Nearest Station Site:</strong> {{ distance }} meters</p>

    {% if latitude and longitude %}
    <h2>Station Site Location on Map</h2>
    <!-- Replace 'YOUR_API_KEY' with your actual Google Maps API key -->
    <iframe
        width="600"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBnTqJrPNDd1HYOwWkI5Aq6j9R0uDnWv30&q={{ latitude }},{{ longitude }}">
    </iframe>
    {% endif %}
{% endblock %}
