{% extends "base.html" %}

{% block title %}Project Summary{% endblock %}

{% block content %}



<div style="display: flex; justify-content: space-between;">

    <!-- Solar Input Data Column -->
    <div style="width: 48%;">
        <h1>Project Costs</h1>
        <table style="width: 100%; border-collapse: collapse;">
            
            <tr style="background-color: #f2f2f2;">
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">System</th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Upfront Costs [CAD]</th>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px;">Aeolos Wind Turbines Cost</td>
                <td style="border: 1px solid #ddd; padding: 8px;">$ {{ wind_upfront_cost | round(2) }}</td>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px;">Solar Pannels Cost</td>
                <td style="border: 1px solid #ddd; padding: 8px;">$ {{ solar_pannel_cost | round(2) }}</td>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px;">Solar Mounts Cost</td>
                <td style="border: 1px solid #ddd; padding: 8px;">$ {{ solar_mount_cost | round(2) }}</td>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px;">Battery Cost</td>
                <td style="border: 1px solid #ddd; padding: 8px;">$ {{ battery_upfront_cost | round(2) }} </td>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px;"><b>Total Project Cost</td>
                <td style="border: 1px solid #ddd; padding: 8px;"><b>$ {{ total_project_costs | round(2) }}</td>
            </tr>
            
        </table>
    </div>

    <!-- Wind System Outputs Column -->
    <div style="width: 48%;">
        <h1>30 Year Lifetime Project Revenue</h1>
        <h4>Revenue based on $0.1 kWh buyback pricing for wind and solar</h4>
        <table style="width: 100%; border-collapse: collapse;">
            <tr style="background-color: #f2f2f2;">
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">System</th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Project Total Revenue [CAD]</th>
            </tr>
            
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px;">Wind Turbine Revenue</td>
                <td style="border: 1px solid #ddd; padding: 8px;">$ {{ wind_project_revenue | round(2) }}</td>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px;">Solar System Revenue</td>
                <td style="border: 1px solid #ddd; padding: 8px;">$ {{ solar_project_revenue | round(2) }}</td>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px;">Battery System Revenue</td>
                <td style="border: 1px solid #ddd; padding: 8px;">$ {{ battery_project_revenue | round(2) }}</td>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px;"><b>Total Project Revenue</td>
                <td style="border: 1px solid #ddd; padding: 8px;"><b>$ {{ total_project_revenue | round(2) }}</td>
            </tr>
            
        </table>
    </div>
    

</div> 

<br>
<div style="display: flex; justify-content: space-between;">

    <!-- Solar Input Data Column -->
    <div style="width: 48%;">
        <h1>Project Key Metrics</h1>
        <table style="width: 100%; border-collapse: collapse;">
            
            <tr style="background-color: #f2f2f2;">
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Parameter</th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Value</th>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px;"><b>Total Project Profit</td>
                <td style="border: 1px solid #ddd; padding: 8px;"><b>$ {{ total_project_profit | round(2) }} </td>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px;">Project Return on Investment (ROI)</td>
                <td style="border: 1px solid #ddd; padding: 8px;">{{ total_roi | round(2) }} %</td>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px;">Project Payback Period (averaged based on total revenue and lifetime)</td>
                <td style="border: 1px solid #ddd; padding: 8px;">{{ total_payback_period | round (2) }} years</td>
            </tr>
          
           
            
        </table>
    </div>
</div>
<br>



{% endblock %}

